* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
button{
  padding: 10px 22px;
  margin: 20px;
}
h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 150px;
  border-radius: 5px;
  padding: 20px 80px;
  margin: 20px;

}